-- Add trusted device fields to user_sessions table
ALTER TABLE user_sessions ADD COLUMN trusted_device_token TEXT;
ALTER TABLE user_sessions ADD COLUMN revoked_at TIMESTAMP;
CREATE INDEX idx_user_sessions_trusted_device_token ON user_sessions(trusted_device_token);

-- Example: Safely update status enum for category_requests (PostgreSQL)
-- 1. Create the new enum type with your desired values
CREATE TYPE "CategoryRequestStatus_new" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- 2. Alter the column to use the new type
ALTER TABLE "category_requests"
  ALTER COLUMN "status" TYPE "CategoryRequestStatus_new"
  USING "status"::text::"CategoryRequestStatus_new";

-- 3. Drop the old type
DROP TYPE "CategoryRequestStatus";

-- 4. Rename the new type to the original name
ALTER TYPE "CategoryRequestStatus_new" RENAME TO "CategoryRequestStatus";
